extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and get a
        | bit of work done.
        | <br/><br/>
        | Dies irae, dies illa, qua resurget ex favilla judicandus homo reus.
